@import "tailwindcss";

* {
  font-family: var(--font-figtree), "Figtree", sans-serif;
}

@theme {
  --color-primary: #22192c;
  --color-secondary: #2a2337;
  --color-tertiary: #2c2336;
  --color-text-primary: #ffffff;
  --color-accent: #9381ff;
  --color-hover: #726d9a;
  --color-green: #4adcb3;
  --color-red: #e61655;
  --color-black: #191521;
  --color-icon-bg: #322f36;
}
